@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');

:root {
    --font-outfit: "Outfit", sans-serif;
    --font-young: "Young Serif", serif;
    --white: hsl(0, 0%, 100%);
    --rose-white: hsl(330, 100%, 98%);
    --eggshell: hsl(30, 54%, 90%);
    --light-gray: hsl(30, 18%, 87%);
    --light-raspberry: hsl(331, 100%, 96%);
    --dark-raspberry: hsl(332, 51%, 32%);
    --nutmeg: hsl(14, 45%, 36%);
    --wenge-brown: hsl(30, 10%, 34%);
    --dark-charcoal: hsl(24, 5%, 18%);
}

*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-outfit);
    font-size: 16px;
    background-color: var(--eggshell);
}

main {
    min-height: 100vh;
    display: grid;
    place-items: center;
}

.main__card {
    background-color: var(--rose-white);
    padding: 40px;
    max-width: 70%;
}

/* OMLETT SECTION */
.omlette__image {
    display: block;
    height: auto;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.omlett__title {
    padding: 20px 0;
    color: var(--dark-charcoal);
    font-weight: 300;
    font-family: var(--font-young);
}

.omlett__text {
    color: var(--wenge-brown);
}

/* PREPARATION SECTION */
.prep__section {
    background-color: var(--light-raspberry);
    padding: 30px;
    border-radius: 20px;
    margin: 20px 0 20px 0;
}

.prep__title {
    font: var(--font-young);
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--dark-raspberry);
    margin-bottom: 10px;
}

.prep__list {
    padding: 0 20px 0 20px;
}

.prep__list li {
    font-weight: 300;
    color: var(--dark-charcoal);
    padding-left: 20px;
}

.prep__list li::marker {
    color: var(--dark-raspberry);
}

.prep__list li span {
    font-weight: 600;
}

/* INGREDIENTS SECTION */
.ingred {
    padding: 20px;
    border-bottom: 1px solid;
}

.ingred__title {
    font-family: var(--font-young);
    color: var(--nutmeg);
}

.ingred__list {
    padding: 0 20px 0 20px;
}

.ingred__list li {
    font-weight: 300;
    color: var(--dark-charcoal);
    padding-left: 20px;
}

.ingred__list li::marker {
    color: var(--nutmeg);
}

/* INSTRUCTIONS SECTION */
.inst {
    padding: 20px;
    border-bottom: 1px solid;
}

.inst__text {
    color: var(--nutmeg);
    font-family: var(--font-young);
}

/* NUTRITION SECTION */

/* TABLE SECTION */

/* ATTRIBUTION FOOTER SECTION */
.attribution {
    font-size: 11px;
    text-align: center;
    font-weight: var(--font-400);
    color: var(--dark-charcoal);
    bottom: 0;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}





@media screen and (max-width: 375px) {

}
